.header{
  height:55px;
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  position:fixed;
  top:0;
  left:0;
  right:0;
  height:70px;
  padding-bottom: 25px;
  z-index: 100;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style:solid;
  border-bottom-color:gray;
}
.left-section{
  display:flex;
  align-items: center;

}
.hamburger-menu{
  height:24px;
  margin-left: 33px;
  margin-right:28px;
}
.youtube-logo{
  height:24px;
}
.middle-section{
  flex:1;
  margin-left:60px;
  margin-right: 30px;
  max-width:500px;
  display: flex;
  align-items: center;
  flex-direction: row;

}
.search-bar{
  flex:1;
  height:36px;
  font-size:16px;
  border: 1px solid gray;
  border-radius: 2px;
  box-shadow:inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width:0;
}
.search-bar::placeholder{
  font-family: Roboto,Arial;
  font-size:16px;
  padding-left:10px;
}
.search-button{
  height: 40px;
  width: 60px;
  background-color: rgb(239, 237, 237);
  border-style:solid;
  border-width:1px;
  border-color:gray;
  margin-left:-1px;
  margin-right:10px;

}
.search-button,
 .voice-search,
 .uplod-icon-container{
  display:flex;
  position:relative;
  justify-content: center;
  align-items: center;

}

.search-button .tooltip,
.voice-search .tooltip,
.uplod-icon-container .tooltip,
.notification-container .tooltip{
  position:absolute;
  background-color:lightgray;
  color:white;
  padding-top:4px;
  padding-bottom:4px;
  padding-left:8px;
  padding-right:8px;
  border-radius:4px;
  font-size: 12px;
  bottom:-30px;
  opacity:0;
  transition:opacity 0.15s;
  pointer-events:none;
  white-space:nowrap;
  font-family:Roboto, Arial;
  

}
.search-button:hover .tooltip,
.voice-search:hover .tooltip,
.uplod-icon-container:hover .tooltip,
.notification-container:hover .tooltip{
  opacity:1;

}
.voice-search{
  height:39px;
  width:40px;
  border-radius: 20px;
  border-style: none;
  
}
.search-icon{
  height:25px;
  
}
.voice-icon{
  height:20px;
  border-radius:50px;
 
}

  .right-section{
    width:250px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
  }
  .uplod-icon{
    height:35px;
  
  }
  .multiple-icon{
    height:35px;
  }
  .notification-icon{
    height:35px;
  
  }
  .notification-container{
    position:relative;

  }
  .notification-count{
    font-family:Roboto,Arial;
    font-size:15px;
    position:absolute;
    background-color: rgb(207, 5, 5);
    right:-2.5px;
    top:-2.5px;
    color:white;
    padding-left:6px;
    padding-right:6px;
    padding-top:1px;
    padding-bottom:1px;
    border-radius:10px;
  }

.signin-icon{
  height:35px;
  width:35px;
  border-radius: 30px;
}
